<ion-view view-title="Welcome">

  <!-- header -->
  <ion-header-bar align-title="left" class="bar-positive" ng-include src="'templates/header.html'"></ion-header-bar>

  <!-- main body -->
  <ion-content class="main-body">
    <div id="map_canvas" style="width:100%;"></div>
  </ion-content>

  <!-- footer -->
  <ion-footer-bar class="footerbar-white" ng-include src="'templates/footer.html'"></ion-footer-bar>

</ion-view>
