.center {
  display: block;
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: white;
}
.center.logo {
  padding: 35px 0px;
}
.left {
  text-align: left;
}
h5 {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 10px 0px;
}

/* header bar */
.has-header {
   top: 65px;
}
.bar-header {
  height: 65px;
  background: #24a2de !important;
  border-color: #24a2de;
  padding-top: 25px;
}
.bar-header .left-icon {
  width: 20%;
  float: left;
  padding-left: 10px;
  margin-top: 0px !important;
}
.bar-header .right-icon {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  padding-top: 9px;
  margin-top: 0px !important;
}
.bar-header .logo {
  width: 60%;
  text-align: center;
  margin-top: 0px !important;
}
.bar-header .logo img {
  max-height: 100%;
  width: auto;
}

/* footer bar */
.footerbar-white {
  background: white;
  height: 60px;
  padding: 0px;
}
.footerbar-white .footer-col {
  float: left;
  width: 20%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.footerbar-white .footer-col.active {
  background: #00528d;
}
.footerbar-white .footer-col.active span {
  color: white;
}
.footerbar-white img {
  width: 40%;
  height: auto;
  margin: auto;
  margin-top: 7px;
}
.footerbar-white span {
  display: block;
  clear: both;
  color: #f1457b;
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.footerbar-white .footer-col-pin .footer-col-pin-inner {
  background: #f1457b;
  position: absolute;
  width: 100%;
  height: 157%;
  top: -22px;
  left: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.footerbar-white .footer-col-pin .footer-col-pin-inner img {
  position: relative;
  top: 15px;
}

.main-body {
  top: 65px;
  bottom: 70px;
}

/* login and registration screens */
.login-screen {
  background: url(../img/pushpop-gradient-bg.png) no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
.login-screen .list-inset {
  background: transparent;
}
.login-screen .login-content-wrapper {
  width: 100%;
  position: absolute;
  bottom: 100px;
  margin: 0px;
  padding: 0px;
}
.login-screen .email-login-wrapper {
  width: 80%;
  margin: auto;
}
.login-screen .email-login-wrapper .item-input {
  border-radius: 30px !important;
  border: 0px;
}
.login-screen .email-login-wrapper button {
  background: #a1de3f;
  width: auto;
  margin: auto;
  border-radius: 1000px;
  padding: 0px;
  text-transform: lowercase;
  min-width: 50px;
  min-height: 50px;
  margin-top: 15px !important;
}
.login-screen .registration-dropdowns-wrapper {
  width: 240px;
  margin: auto;
  display: inline-block;
}
.login-screen .registration-dropdown {
  float: left;
  width: 100px;
  padding: 20px 10px;
  margin-right: 0px;
  margin-left: 10px
}
.login-screen .registration-dropdown:last-child {
  margin-left: 20px;
}
.login-screen .registration-dropdown select {
  max-width: 100%;
  width: 100%;
}
.login-screen .registration-step-buttons {
  clear: both;
}
.login-screen .registration-step-buttons button {
  margin: 15px;
}
.login-screen .registration-step-buttons button:first-child {
  background: #29abe2;
}
.login-screen .registration-step-buttons .button-finish {
  background: #a1de3f !important;
  width: 125px;
  font-weight: bold;
  font-size: 20px;
}
.login-button {
  border-radius: 30px;
  padding-left: 20px;
  width: 80%;
  max-width: 80%;
  margin: auto;
}
.login-button.email-button {
  background: white;
  color: #ef5788;
}
.login-button.facebook-button {
  background: #3b5998;
}
.login-screen .white-link {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 15px;
  padding-top: 20px;
}

/* interests */
ion-list.interests-list ion-item.selected {
  background: #00528d;
  color: white;
}
